<h1>New Designer</h1>

<%= form_for @designer do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :yrs_exp %>
    <%= f.text_field :yrs_exp %>
    <br/>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
    <br/>
    <%= f.submit %>
    <%end%>