<h1>New Appointment</h1>

<%= form_for @appointment do |f|%>
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, Client.all, :id, :name %>
    <br/>
    <%= f.label :designer_id %>
    <%= f.collection_select :designer_id, Designer.all, :id, :name %>
    <br/>
    <%= f.label :date %>
    <%= f.text_field :date %>
    <br/>
    <%= f.label :time %>
    <%= f.text_field :time %>
    <br/>
    <%= f.label :project_type %>
    <%= f.text_field :project_type %>
    <br/>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br/>
    <%= f.label :timeline %>
    <%= f.text_field :timeline %>
    <br/>
    <%= f.label :budget %>
    <%= f.text_field :budget %>
    <br/>

    <%= f.submit %>
    <%end%>